<div class="about">
<!-- <img src="images/about_page.jpg" style="height: 200px; width: 100px; float: left"> 
<img src="images/main_background.jpg" style="height: 200px; width: 100px; float: left"> -->

<div class="first-image"></div>
<div class="second-image"></div>
</div>