<div class="about">
<img src="images/about_page.jpg" style="height: 200px; width: 100px; float: left"> 
<img src="images/main_background.jpg" style="height: 200px; width: 100px; float: left">
</div> 



<!-- <li>
  <img src="images/about_page.jpg"/>
  <div class="orbit-caption">
  </div>
</li>


<li class="active">
  <img src="images/main_background.jpg"/>
  <div class="orbit-caption">
  </div>
</li> -->