<div class="container demo-1">
  <div class="content">
    <div id="large-header" class="large-header">
      <h1 class="main-title">VANGUARD </h1> 
      <h2><span class="thin">| Modernizing the News Industry</span></h2>
      <canvas id="demo-canvas"></canvas>
    </div>


    <ul class="example-orbit" data-orbit>
      <li class="active">
        <img src="http://i.dailymail.co.uk/i/pix/2012/10/26/article-0-15B34CE6000005DC-257_964x640.jpg" alt="slide 1" />
        <div class="orbit-caption">
          Gove: I want to reduce prison numbers in England and Wales
        </div>
      </li>
      <li>
        <img src="http://cdn-media-2.lifehack.org/wp-content/files/2015/02/Fotolia_54218037_Subscription_Monthly_M.jpg" alt="slide 2" />
        <div class="orbit-caption">
          MI5 'secretly collected phone data' for decade
        </div>
      </li>
      <li>
        <img src="http://ichef-1.bbci.co.uk/news/660/cpsprodpb/7C9B/production/_86499813_music_comp.jpg" alt="slide 3" />
        <div class="orbit-caption">
          British music industry boosts economy by £4.1bn
        </li>
        <li>
          <img src="http://cdn.searchenginejournal.com/wp-content/uploads/aboutsoc/2012/09/Homepage_FacebookMobile.jpg" alt="slide 4" />
          <div class="orbit-caption">
            Facebook reports jump in profits
          </div>
        </li>
        <li>
          <img src="http://www.livemint.com/rf/Image-621x414/LiveMint/Period1/2013/02/02/Photos/WeatherAirport--621x414.jpg" alt="slide 5" />
          <div class="orbit-caption">
            Heavy fog delays flights across Europe
          </div>
        </li>
      </ul>
    </div>

    <h3 class="last-news">Latest News</h3>
    <ul class="row">
      <li><%= render @recent_posts %></li>
    </ul>