h1.latest-news {
padding-left: 20px;
font-family: 'Lato', sans-serif;
}

.latest-container{
  clear: both; 
  height: 250px; 
  border-bottom: 5px solid black;
  font-family: 'Lato', sans-serif;
}

.latest-container h3, p {
  font-family: 'Lato', sans-serif;

}
