h1.popular-news {
padding-left: 20px;
font-family: 'Lato', sans-serif;
}

.popular-container{
  clear: both; 
  height: 230px; 
  border-bottom: 5px solid black;
  font-family: 'Lato', sans-serif;
  padding: 30px;
}

.popular-container h3, p {
  font-family: 'Lato', sans-serif;

}
