h1.popular-news {
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
  }


.popular-container{
  clear: both; 
  height: 250px; 
  border-bottom: 5px solid black;
  font-family: 'Lato', sans-serif;
}

.popular-container h3, p {
  font-family: 'Lato', sans-serif;

}
