h1.article-name { 
text-align: left;
margin-top: 50px;
font-family: 'Lato', sans-serif;
background-color: #ADD8E6;
margin: 10px 0px 20px 0px;
padding: 20px;
}


.posts-container {
    clear: both; 
    height: 250px; 
    border-bottom: 5px solid black;
    font-family: 'Lato', sans-serif;
  }
