* {
font-family: Verdana;

}

.has-form {
  position: absolute;
  top: 0;
  left: 6rem;
  min-width: 14rem; }
  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 10rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; } }


img{
  width: 85%;
  max-height: 520px;
  margin: 0 auto;
} 



.form-box {
  padding: 5px;
  margin: 0 auto;
  max-width: 980px;
} 

.foundation{
  orbit: {
    animation: 'slide',   
  }
}

h1.new_post { 
text-align: center;
margin-top: 50px;

}

h3.latest_news { 
text-align: center;
margin-top: 20px;

}

.front_news {
text-align: center;
float:right;

}

.three_layout {
  margin: 0 auto;
}

.bla {
  margin-top: 50px;

height: 280px;
}



