h1.first-header {
  width: 50px;
  position: relative;
 left: 50%;
 transform: translateX(-50%);
 font-family: 'Lato', sans-serif;
}

.top-bar {
background-color: black;
}

#top-bar-section{
  background-color: black;
}


.has-form {
  position: absolute;
  top: 0;
  left: 6rem;
  min-width: 14rem; }
  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 10rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; 
      } 
    }


// img{
//   width: 85%;
//   max-height: 520px;
//   margin: 0 auto;
// } 

.form-box {
  padding: 5px;
  margin: 0 auto;
  max-width: 980px;
} 

.foundation{
  orbit: {
    animation: 'slide',   
  }
}

h1.new_post { 
text-align: center;
margin-top: 50px;
font-family: 'Lato', sans-serif;
background-color: #ADD8E6;
margin: 10px 125px 0px 125px;
padding: 10px;

}



h1.latest-news { 
text-align: left;
margin-top: 50px;
font-family: 'Lato', sans-serif;
background-color: #ADD8E6;
margin: 10px 0px 20px 0px;
padding: 20px;
}


h1.popular-news { 
text-align: left;
margin-top: 50px;
font-family: 'Lato', sans-serif;
background-color: #ADD8E6;
margin: 10px 0px 20px 0px;
padding: 20px;
}





.front_news {
text-align: center;
float:right;

}

.three_layout {
  margin: 0 auto;
}

.bla {
  margin-top: 50px;
  height: 280px;
}


.sign-up-table {
  margin-left: 50px;
  margin-right: 50px;
}

.sign-up{
  text-align: left;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  background-color: #ADD8E6;
  margin: 10px 0px 20px 0px;
  padding: 20px;
}

.log-in {
  margin-left: 80px;
  margin-right: 80px;

}

.log-in-name {
  text-align: center;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  background-color: #ADD8E6;
  margin: 30px 125px 20px 125px;
  padding: 10px;

}

input.button {
  background: #ADD8E6;
}


.about {
  background-size: cover;
}




