<h1><%= @user.first_name %>'s posts</h1>


<ul> 
  <% @posts.each do |post|%>
  <li>
  <%= link_to(post) do %>
    <%= post.title%>: <%= post.date.to_formatted_s(:short)%>
  <% end %>
  </li>
  <% end %>
</ul>