<h1><%= @user.first_name %>'s Articles</h1>

<ul class="small-block-grid-3 bla">
<div class"user_posts">
<ul> 
  <% @posts.each do |post|%>
  <li>
  <%= link_to(post) do %>
    <%= post.title%>: <%= post.date.to_formatted_s(:short)%>
  <% end %>
  </li>
  <% end %>
</ul>
</ul>
</div>